<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DistritoWSPortBinding" maxBufferSize="52428800"
                    maxReceivedMessageSize="52428800" />
                <binding name="ActividadWSPortBinding" maxBufferSize="52428800"
                    maxReceivedMessageSize="52428800" />
                <binding name="TemaWSPortBinding" maxBufferSize="52428800" maxReceivedMessageSize="52428800" />
                <binding name="PsicologoWSPortBinding" maxReceivedMessageSize="52428800" />
                <binding name="CursoWSPortBinding" maxReceivedMessageSize="52428800" />
                <binding name="TutorWSPortBinding" maxBufferSize="52428800" maxReceivedMessageSize="52428800" />
                <binding name="MaterialWSPortBinding" maxBufferSize="52428800"
                    maxReceivedMessageSize="52428800" />
                <binding name="AsistenciaWSPortBinding" maxBufferSize="52428800"
                    maxReceivedMessageSize="52428800" />
                <binding name="SemanaWSPortBinding" maxReceivedMessageSize="52428800" />
                <binding name="UsuarioWSPortBinding" maxBufferSize="52428800"
                    maxReceivedMessageSize="52428800" />
                <binding name="GrupoWSPortBinding" maxBufferSize="52428800" maxReceivedMessageSize="52428800" />
                <binding name="ReporteWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/MaterialWS"
                binding="basicHttpBinding" bindingConfiguration="MaterialWSPortBinding"
                contract="MaterialWS.MaterialWS" name="MaterialWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/AsistenciaWS"
                binding="basicHttpBinding" bindingConfiguration="AsistenciaWSPortBinding"
                contract="AsistenciaWS.AsistenciaWS" name="AsistenciaWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/ActividadWS"
                binding="basicHttpBinding" bindingConfiguration="ActividadWSPortBinding"
                contract="ActividadWS.ActividadWS" name="ActividadWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/TutorWS"
                binding="basicHttpBinding" bindingConfiguration="TutorWSPortBinding"
                contract="TutorWS.TutorWS" name="TutorWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="UsuarioWS.UsuarioWS" name="UsuarioWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/GrupoWS"
                binding="basicHttpBinding" bindingConfiguration="GrupoWSPortBinding"
                contract="GrupoWS.GrupoWS" name="GrupoWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/DistritoWS"
                binding="basicHttpBinding" bindingConfiguration="DistritoWSPortBinding"
                contract="DistritoWS.DistritoWS" name="DistritoWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/TemaWS"
                binding="basicHttpBinding" bindingConfiguration="TemaWSPortBinding"
                contract="TemaWS.TemaWS" name="TemaWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/CursoWS"
                binding="basicHttpBinding" bindingConfiguration="CursoWSPortBinding"
                contract="CursoWS.CursoWS" name="CursoWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/ReporteWS"
                binding="basicHttpBinding" bindingConfiguration="ReporteWSPortBinding"
                contract="ReporteWS.ReporteWS" name="ReporteWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/SemanaWS"
                binding="basicHttpBinding" bindingConfiguration="SemanaWSPortBinding"
                contract="SemanaWS.SemanaWS" name="SemanaWSPort" />
            <endpoint address="http://54.157.215.104:8080/DatmaSoftWebServices/PsicologoWS"
                binding="basicHttpBinding" bindingConfiguration="PsicologoWSPortBinding"
                contract="PsicologoWS.PsicologoWS" name="PsicologoWSPort" />
        </client>
    </system.serviceModel>
</configuration>